html {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	padding: 0;
}
.title {
	margin: 0;
	padding: 50;
	height: 10em;
	background-color: #D2CC20;
}
