* {
	font-family: Arial, Helvetica, sans-serif, system-ui;
}
body { margin: 0px; }
/* Semantic elements */
header, footer {
	background: rgb(255,247,238);
	background: linear-gradient(90deg, rgba(255,247,238,1) 0%, rgba(241,215,175,1) 50%, rgba(139,109,65,1) 75%, rgba(102,79,56,1) 100%);
}
nav {
	background: rgb(255,231,199);
	background: linear-gradient(90deg, rgba(255,231,199,1) 0%, rgba(214,181,137,1) 100%);
	display: flex;
	justify-content: space-evenly;
}
nav a {
	flex-grow: 1;
	margin: 5px;
	text-align: center;
	text-decoration: none;
	color: rgb(44, 32, 19);
	padding: 3px;
	border: 1px solid #ffffff;
}
nav a:hover {
	border: 1px solid lightgrey;
}
main { padding: 20px;}
/* Text elements */
h1, h2, h3 { margin: 0;}
/* Classes */
.highlight {
	height: 5px;
	background-color: #000000;
}
/* IDs */
#title {
	padding: 20px;
	display: flex;
}
#postscript { padding: 10px; 
text-align: center;
}
#title h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-top: 60px;
	margin-left: 20px;
}
#logo {
	height: 150px;
}
aside {
border: 4px inset #A07423 ;
border-radius: 14px;
margin: 1em;
padding: 1em;
float: right;
width: 25%;
box-shadow: 10px 10px 5px #aaaaaa;
}

ol {
list-style-type:circle;
}

ul {
list-style-type:square;
}

p.solid {border-style: solid;}

.jobtitle {
color: #A07423;
}

a {
color: #C6AA75;
}



